<mat-grid-list cols="3" rowHeight="2rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile >
      <button (click)="onCriteriaSelect(2)"  mat-raised-button color="accent">GENERALES</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(3)"  mat-raised-button color="accent">DE QATAR</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(4)" mat-raised-button color="accent">CHINAS</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>

