<mat-grid-list cols="2" rowHeight="20rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile colspan="2">
      <div class="texto" style="margin-top: 0REM;">
        <h1 style="text-align: center;">AEROINFO</h1>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2" ><img style="border-radius: 30rem ; height: 40rem;" src="../../assets/img2jpg.jpg" height="200%"></mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>Proveemos información sobre distintas aerolineas</h1>
      <hr>
      <p>Somos una compañía dedicada a proveer informacion sobre multiples aerolienas alrededor de todo el mundo</p>
      <p>Queremos que el usuario pueda obtener multiples alternativas y no quedarse con la comun y corriente.</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>Busca y encuentra la aerolinea que más te guste</h1>
        <hr>
        <p>Por medio de este portal, se puede buscar y encontrar la aerolinea de su preferencia.</p>
        <p>Tenemos aerlonias de todo el mundo, especificamente unas cuantas generales, otras de Qatar y por último de China</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2">
      <div class="texto">
        <h1 style="text-align: center;">¡Las mejores aerolineas!</h1>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2" ><img style="border-radius: 30rem ;" src="../../assets/img1.jpg" height="150%"></mat-grid-tile>
  </div>
  <mat-grid-tile colspan="2">
    <div class="texto">
      <h1 style="text-align: center;">¡Las mejores aerolineas!</h1>
    </div>
  </mat-grid-tile>

</mat-grid-list>

