<mat-grid-list cols="2" rowHeight="20rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile colspan="2">
      <div class="texto" style="margin-top: 0REM;">
        <h1 style="text-align: center;">AEROINFO</h1>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2" ><img style="border-radius: 30rem ; height: 40rem;" src="../../assets/img2jpg.jpg" height="200%"></mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>Proveemos información sobre distintas aerolineas</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>Busca y encuentra la aerolinea que más te guste</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2">
      <div class="texto">
        <h1 style="text-align: center;">¡Las mejores aerolineas!</h1>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2" ><img style="border-radius: 30rem ;" src="../../assets/img1.jpg" height="150%"></mat-grid-tile>
  </div>
  <mat-grid-tile colspan="2">
    <div class="texto">
      <h1 style="text-align: center;">¡Las mejores aerolineas!</h1>
    </div>
  </mat-grid-tile>

</mat-grid-list>

